<h1>Forms practicing</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
  <div class="field">
    <label class="label">user name</label>
    <input
      formControlName="username"
      type="text"
      class="input"
      [class.invalid]="
        registerForm.get('username')?.invalid &&
        (registerForm.get('username')?.dirty ||
          registerForm.get('username')?.touched ||
          isSubmitted)
      "
    />
    <div>
      <span
        *ngIf="
          registerForm.get('username')?.invalid &&
          (registerForm.get('username')?.dirty ||
            registerForm.get('username')?.touched ||
            isSubmitted)
        "
        class="error"
      >
        Field is required</span
      >
    </div>
  </div>
  <div class="field">
    <label class="email">email</label>
    <input
      formControlName="email"
      type="email"
      class="input"
      [class.invalid]="
        registerForm.get('email')?.invalid &&
        (registerForm.get('email')?.dirty ||
          registerForm.get('email')?.touched ||
          isSubmitted)
      "
    />
  </div>
  <div>
    <span
      *ngIf="
        registerForm.get('email')?.invalid &&
        (registerForm.get('email')?.dirty ||
          registerForm.get('email')?.touched ||
          isSubmitted)
      "
      class="error"
    >
      Field is required</span
    >
  </div>
  <div class="field">
    <label class="label">password</label>
    <input
      formControlName="password"
      type="password"
      class="input"
      [class.invalid]="
        registerForm.get('password')?.invalid &&
        (registerForm.get('password')?.dirty ||
          registerForm.get('password')?.touched ||
          isSubmitted)
      "
    />
  </div>
  <div>
    <span
      *ngIf="
        registerForm.get('password')?.invalid &&
        (registerForm.get('password')?.dirty ||
          registerForm.get('password')?.touched ||
          isSubmitted)
      "
      class="error"
    >
      Field is required</span
    >
  </div>
  <select formControlName="roleId">
    <option *ngFor="let role of roles" [ngValue]="role.id">
      {{ role.title }}
    </option>
  </select>
  <div formArrayName="aliases">
    <h2>FormArray exemple</h2>

    <button type="button" (click)="addAlias()">+ Add another alias</button>

    <div
      *ngFor="let alias of aliases.controls; let i = index"
      [formGroupName]="i"
    >
      <!-- The repeated alias template -->
      <label for="alias-{{ i }}">Alias:</label>
      <input type="text" formControlName="name" />
      <input type="text" formControlName="amount" />
    </div>
  </div>

  <div>
    <button type="submit" class="button">Register</button>
  </div>
</form>
